body{
    background-color: #FBFBFB;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    z-index: 2;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    padding: 0;
}
#navSearch-input{
    margin: 0 !important;
    border: none;
    background-color: #F2F2F2;
    width: 250px;
    border-radius: 0px;
    
}
#navSearch-input::placeholder{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
#navSearch-btn{
    background-color: #364FD9;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
}
.sideBar{
    height: 93vh;
}
#db-nav{
    width: 100%;
}
#db-navlinks{
    width: 100%;
    height: 75px;
    background-color: #F3F3F3;
    display: flex;
    justify-content:flex-start;
}
#db-accent{
    width: 7px;
    height: 100%;
    background-color: #55DAA5;
}
#db-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}
#db-text h4{
    margin: 0;
    margin-left: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
#db-text img {
    width: 30px;
    height: 30px;
}
#db-navlinks-notselected{
    height: 75px;
    background-color: #ffffff;
    display: flex;
    justify-content:flex-start;
}
#db-accent-notselected{
    width: 7px;
    height: 100%;
    background-color: #F3F3F3;
}
#db-navlinks-notselected:hover{
    background-color: #F3F3F3;
    
}
#db-navlinks-notselected:hover > #db-accent-notselected{
    background-color: #364FD9;
}
#db-usersettings{
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
#db-user-left{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#db-user-left h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
#db-user-right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-content{
    width: 100%;
}
#dashboard-items{
    padding: 24px;
}
#db-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
#db-top-left{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
#db-top-left h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-right: 24px;
}
#db-top-left h4{
    color: #364FD9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;
}
#db-top-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#db-top-right button{
    border: 1px solid #D7DBEC;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    width: 64px;
    padding: 9px;
    background-color: white;
    display: flex;
    justify-content: center;
}

#db-top-right button:hover{
    background-color: #0058FF;
    color: white;
}
#db-bottom{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card{
    padding: 8px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(21,34,50,0.08);
}
.card p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1E3A53;
    margin: 0;
}
.card-numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-numbers h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #131523;
}
#db-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background-color: rgba(0,88,255,0.1);
    border-radius: 100%;
}
#db-icons i{
    text-align: center;
    width: 24px;
    color: #0058FF;
}
#perchange{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
#perchange i{
    color: #3DD598;
    font-style: normal;
}
#perchange #bad{
    color: #F0142F;
}
.card-numbers h3{
    font-size: 24px;
}
#db-progress img{
    width: 100%;
}
#todo-list{
    padding: 16px 8px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(21,34,50,0.16);
}
#db-todo-header{
    width: 100%;
    padding: 16px;
}
#db-todo-header h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
#db-todo-item{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 4px;
    cursor: pointer;
}

#db-todo-accent-1{
    width: 9px;
    height: 100%;
    background-color: #1431D9;
}
#db-todo-accent-2{
    background-color: #D94B18;
    width: 9px;
    height: 100%;
}
#db-todo-accent-3{
    background-color: #91A0F2;
    width: 9px;
    height: 100%;
}
#db-todo-text{
    padding: 8px;
    width: 200px;
    margin-right: 16px;
}
#db-todo-text h6, #db-todo-text p{
    margin: 0;
}
#db-todo-text h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #131523;
}
#db-todo-text p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #7E84A3;
}
#db-todo-checkbox{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #1E3A53;
}
#db-todo-body hr{
    background-color: #E6E9F4;
    width: 90%;
}
#db-todo-body a{
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
    font-weight: 500;
}
#addWidgets-btn{
    position: absolute;
    z-index: 4;
    bottom: 50px;
    left: 350px;
    width: 70px;
    height: 70px
}
#addWidgets-btn img{
    width: 100%;
    cursor: pointer;
}
#addWidgets-btn img:hover{
    filter: brightness(70%);
}