.navbar {
    background-color: orange !important;
}

.jumbotron {
    padding: 32px 24px;
    display: flex;
    justify-content: center;
}
.logo{
    margin-right: 16px;
}

.cardContainer {
    padding: 16px 8px;
}

.row {
    display: flex;
    justify-content: center;
}
